content {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F3537;


}

.container {
    padding: 2em 3em 2em 1.5em;
    color: white;
    height: 26em;
    width: 10em;

}

.content {
    font-size: 15px;
    font-family: Lexend Deca;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    padding: 1em 2em 1em 0;
}

h3 {
    font-size: 30px;
    font-family: Big Shoulders Display;
    font-weight: 700;
    text-transform: uppercase;
}

.learn-more {
    margin: 5em auto 1em;
    padding: 1em 2em;
    background-color: white;
    border: none;
    border-radius: 3em;
    font-family: Lexend Deca;
    font-weight: 400;
    transition: 0.5s;


}

.container.luxury .learn-more{
    margin: 3.6em auto 1em;
}

.container.sedan .learn-more:hover {
    color: white; 
    background-color: rgb(227, 136, 38);
    border: solid white;

}

.container.suv .learn-more:hover {
    color: white; 
    background-color: rgb(0, 105, 112);
    border: solid white;

}

.container.luxury .learn-more:hover {
    color: white; 
    background-color: rgb(0, 66, 65);
    border: solid white;

}

.container.sedan {
    border-radius: 0.5em 0 0 0.5em;
    background-color: rgba(227, 136, 38);


}
.container.suv {
    background-color: rgb(0, 105, 112);
}

.container.luxury {
    border-radius: 0 0.5em 0.5em 0;
    background-color: rgb(0, 66, 65);
}

.container.sedan .learn-more {
    color:rgb(227, 136, 38);
}

.container.suv .learn-more {
    color:rgb(0, 105, 112);
}

.container.luxury .learn-more {
    color: rgb(0, 66, 65);
}


@media (max-width: 700px){
    content{
        flex-direction: column;  
    }
    .container {
        padding: 2em 3em 2em 1.5em;
        color: white;
        height: 12em;
        width: 20em;
    
    }
    
}